/* import basic Posoroko styles */
@import url("https://legendary-donut-99380b.netlify.app/basic-styles/basicStyles.css");
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

@import url("./variables.css");
@import url("./components/recipeCard.css");
@import url("./components/filters.css");
@import url("./components/tagList.css");

html {
    width: 1440px;
    margin: auto;
    position: relative;
}

.logo {
    width: 268px;
    margin-top: 50px;
}

*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icon {
    font-family: 'Material Icons' ;
}

.searchBar {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    background-color: #e7e7e7;
    padding: 2em;
    border: none;
    border-radius: 7px;
    margin-top: 20px;
    white-space: break-spaces;
    position: relative;
}
.searchIconBox {
    /* height: 100%; */
    aspect-ratio: 1/1;
    position: absolute;
    right: 15px;
    bottom: 50%;
    transform: translateY(60%);
    display: flex;
    /* border: 1px solid red; */
}
.searchIcon {
    height: 80px;
    aspect-ratio: 1/1;
    padding: 10px;    
}

