
.togglerBox {
    display: flex;
    align-items: center;
    position: absolute;
    left: 5vw;
}

.toggler {
    cursor: pointer;
    font-size: 30px;
    margin: 0 5px;
}

.algoTogglerOn {
    display: inline;
}

.algoTogglerOff {
    display: none;
}